<% layout("/layouts/boilerplate.ejs") -%>
  <div class="row mt-2">
    <div class="col-lg-8 offset-lg-2">
      <h3>Edit your listing</h3>
      <form action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate method="POST"
        enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input required class="form-control" type="text" name="listing[title]" value="<%= listing.title %>"
            id="title" />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea required class="form-control" name="listing[description]" id="description"><%= listing.description %></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          Original Image <br />
          <img src="<%= originalImageUrl %>" class="card" alt="" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable">Upload New Image</label>
          <input class="form-control" type="file" name="listing[image]" id="image" />
          <div class="invalid-feedback">Please enter a valid link for image</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input required class="form-control" name="listing[price]" value="<%= listing.price %>" id="price" />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input required class="form-control" type="text" name="listing[country]" value="<%= listing.country %>"
              id="country" />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input required type="text" class="form-control" name="listing[location]" value="<%= listing.location %>"
            id="location" />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark edit-btn mb-3">Edit</button>
      </form>
    </div>
  </div>